div h1 {
    text-align: center;
}

@media (max-width : 800px) {
    div h1 {
        font-size: 20px;
    }

    /* .onlyReview {
        position: absolute;
        width: 150%;

        top: 62%;
        left: 33%;

        margin: 0 auto;
    } */
}